#container {
  width: 840px;
}
#roles a{
  color: black;
}
body {
  background-color: grey;
}
.navbar {
  background: linear-gradient(grey, silver);
  border-radius: 5px;
}
.hero {
  display: inline-block;
  width: 300px;
  height: 200px;
  vertical-align: top;
  border-radius: 10px;
  border: solid black 2px;
  padding: 10px 20px;
  margin: 5px 0px;
  background-color: silver;
}
    .hero h3 {
      display: inline-block;
    }
.title {
  margin: 0px;
}
.desc-roles {
  width: 500px;
  border: solid 2px black;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  display: inline-block;
  background-color: silver;
}
.rightsidebar{
  width: 300px;
  display: inline-block;
  float: right;
}
#prof-pic {
    display: inline-block;
    width: 290px;
    border-radius: 10px;
    border: 3px solid black;
    height: auto;
    float: right;
    display: inline-block;
    margin-bottom: 5px;
}
#hero-pic {
  width: 112px;
  height: auto;
  float: right;
  border-radius: 10px;
  border: solid black 3px;
  margin-right: -12px;
}
#tips {
  width: 290px;
  border: solid 2px black;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  float: right;
  background-color: silver;
}
#abilities {
  display: inline-block;
  width: 500px;
}
.ability {
  display: inline-block;
  width: 500px;
  height: 250px;
  vertical-align: top;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 10px;
  background-color: silver;
}
